
.page{width:100%;overflow:hidden;}
.container{width:990px;}
.img-responsive{max-width:100%;height:auto;}
img{display:block;}
.button{cursor:pointer;}
.button-green{background-color:#2FAC22;color:#fff;}
.button-blue{background-color:#00abd0;color:#fff;}

hr{border: 0;height: 1px;margin:11px 0 11px 0;background-image:-webkit-linear-gradient(left, rgba(255,255,255,0), rgba(255,255,255,0.2), rgba(255,255,255,0));}

.logined-box{display:none;}
.nologin-box{display:block;}

.logined .logined-box{display:block;}
.logined .nologin-box{display:none;}

/* header */
.header{width:100%;height:65px;border-bottom:1px solid #dddddd;}
.header a{color:#b1b1b1;}
.header .container{min-width:750px;}

.header .header-logo{float:left;width:152px;height:64px;overflow:hidden;}
.header .header-nav{float:left;padding-top:18px;}
.header .header-nav li{display:inline-block;float:left;height:28px;padding:3px 0;z-index:1;}
.header .header-nav a{display:block;padding:0 25px;margin-left:-2px;border-left:2px solid #b0b0b0;font-size:16px;z-index:1;}

.header .header-login{float:right;padding-top:21px;}
.header .header-login li{position:relative;display:inline-block;float:left;padding:0 0 0 15px;margin-left:15px;font-size:16px;}
.header .header-login a{display:inline-block;color:#0077be;}

.logined-box .header-login{padding-top:16px;}
.logined-box .header-login li{margin-left:4px;}
.logined-box .header-login a{font-size:13px;}
.logined-box .header-login a.button-blue{padding:7.5px 13px;color:#FFF;}
.logined-box .header-login .user-link{display:inline-block;float:left;width:33px;height:33px;}
.logined-box .header-login .user-link img{position:relative;border-radius:2px;}
.logined-box .header-login .user-down{display:inline-block;float:left;width:35px;height:33px;margin-left:-2px;background:#fdfdfd url(../img/down.png) no-repeat center center;}

.header .header-drop-down{display:none;position:absolute;top:33px;left:-77px;width:144px;height:252px;padding:11px 4px 5px 4px;background:url(../img/down_bg.png) no-repeat; z-index:91;overflow:hidden;}
.header .header-drop-down li{width:100%;padding:14px 21px 14px 21px;margin:0;border-bottom:1px solid rgba(255,255,255,.36);}
.header .header-drop-down a{display:block;width:100%;height:100%;color:#fff;}
.header .header-drop-down a:hover{color:#30c5e5}
.header .show-drop-down .header-drop-down{display:block;}

.header .header-search{float:right;width:171px;height:34px;margin-top:16px;background-color:#fdfdfd;}
.header .header-search input{padding-left:35px; border-radius:30px;background:url(../img/search_ico.png) no-repeat 10px center;color:#5e5b5b;}

body.photos .header-photos,
body.videos .header-videos,
body.events .header-events{position:relative;background-color:#959595;border-bottom:3px solid #434343;z-index:2;}
body.photos .header-photos a,
body.videos .header-videos a,
body.events .header-events a{color:#fff;border-color:transparent;z-index:2;}

/* footer */
.footer{width:100%;height:143px;background:#0e0e0e;overflow:hidden;}
.footer-link{width:100%;height:12px;margin-top:36px;overflow:hidden;line-height:12px;}
.footer-link li{display:inline;height:12px;line-height:10px;padding:0px;}
.footer-link a{padding:0 15px;font-size:12px;color:#fff;border-right:1px solid #fff;line-height:10px;}

.footer .copy-right{float:left;padding:0 15px;font-size:12px;color:#fff;}
.footer .copy-right a{padding:0 8px;color:#fff;}

.footer .connect-dji{float:right;}

/* index */
.banner{position:relative;width:100%;height:511px;margin:15px 0 70px 0;}
.banner .banner-list{width:3000px;height:511px;}
.banner .banner-list li{position:relative;display:inline-block;float:left;margin-right:15px;}
.banner .banner-list li img{display:block;}

a.btn-back,a.btn-next{position:absolute;top:50%;width:65px;height:66px;margin-top:-33px;line-height:300px;overflow:hidden;}
a.btn-back{background:url(../img/left_.png) no-repeat;left:-94px;}
a.btn-next{background:url(../img/right_.png) no-repeat;right:-94px;}

.banner .banner-indicators{position:absolute;left:50%;bottom:-40px;width:100%;margin-left:-50%;text-align:center;list-style:none;}
.banner .banner-indicators li{display:inline-block;width:35px;height:10px;margin:0 5px;background-color:#b4b4b4;cursor:pointer;}
.banner .banner-indicators li.active{background-color:#323232;}

.banner .banner-info{display:none;position:absolute;left:0px;bottom:0px;padding:29px 32px;width:100%;height:125px;background:rgba(0,0,0,.6);color:#fff;overflow:hidden;}
.banner .active .banner-info{display:block;}
.banner .banner-info-title{margin-bottom:10px;font-size:18px;color:}
.banner .banner-info-other{width:90%;font-size:14px;}
.banner .banner-info-score{position:absolute;right:15px;bottom:15px;font-size:38px;}

.event-da{width:100%;overflow:hidden;padding-bottom:20px;border-bottom:1px solid #E4E4E4;}

/* photos_list & videos_list */
.work-list{width:100%;overflow:hidden;}
.work-list .list-title{width:100%;height:56px;}
.work-list .title-text{display:block;float:left;font-size:24px;color:#434343;line-height:56px;}
.work-list .title-nav{float:right;margin-top:13px;}
.work-list .title-nav li{display:inline-block;height:31px;margin-left:10px;padding:0 10px;overflow:hidden;font-size:14px;line-height:31px;}
.work-list .title-nav li.active{background-color:#e3e3e3;border-bottom:2px solid #707070;}
.work-list .title-nav a{font-size:14px;color:#7d7d7d;text-transform:uppercase;}
.work-list .more-link{width:100%;height:52px;}
.work-list .more-link a{display:block;float:right;width:57px;height:27px;margin-top:10px;color:#959595;background:url(../img/more.png) no-repeat right center;line-height:27px;}

.work-list .list-cont{position:relative;width:105%;}
.work-list .list-cont img{display:block;}

.photo-cell{position:relative;width:231px;float:left;margin:0 12px 12px 0;}
.photo-cell .photo-info{display:none;position:absolute;bottom:0px;left:0px;width:100%;height:50px;padding:8px;background:-webkit-linear-gradient(top,rgba(0,0,0,0),rgba(0,0,0,.6));}
.photo-cell:hover .photo-info{display:block;}

.photo-cell p{color:#fff;}
.photo-cell p.photo-info-title{font-weight:bold;font-size:14px;}
.photo-cell p.photo-info-artist{font-size:12px;}
.photo-cell .photo-info-score{position:absolute;right:8px;bottom:4px;font-size:24px;color:#FFF;}

.photo-cell .share{display:none;position:absolute;top:8px;right:8px;}
.photo-cell:hover .share{display:block;}
.photo-cell .share-btn{display:block;width:38px;height:38px;margin:0 2px;background:url(../img/share.png) no-repeat;line-height:300px;overflow:hidden;cursor:pointer;}
.photo-cell .share-list{display:none;width:42px;height:118px;padding-top:5px;background:rgba(0,0,0,.6);border-radius:5px;}
.photo-cell .show .share-list{display:block;}
.photo-cell .share-list li{display:block;width:21px;height:21px;margin:5px auto;}
.photo-cell .share-list .share-icon{display:block;width:21px;height:21px;}
.photo-cell .share-list .share-icon-f{background:url(../img/fb.png) no-repeat;}
.photo-cell .share-list .share-icon-t{background:url(../img/tw.png) no-repeat;}
.photo-cell .share-list .share-icon-g{background:url(../img/google.png) no-repeat;}
.photo-cell .share-list .share-icon-p{background:url(../img/p.png) no-repeat;}

.videos-warp{width:100%;padding-bottom:35px;background-color:#e5e5e5;}
.videos-list-warp{width:105%;}

.video-cell{float:left;position:relative;width:231px;margin:0 12px 22px 0;}
.video-cell:hover .manage-edit{display:block;}
.video-cell p{padding-left:18px;font-size:14px;}
.video-cell .title{width:100%;padding:0px;margin:8px 0 4px 0;white-space:nowrap;text-overflow:ellipsis;-o-text-overflow:ellipsis;overflow:hidden;}
.video-cell .name{background:url(../img/user.png) no-repeat 0px center;}
.video-cell .location{background:url(../img/lt.png) no-repeat 0px center;}
.video-cell .time{background:url(../img/time.png) no-repeat 0px center;}
.video-cell .mins{position:absolute;top:196px;right:10px;font-size:12px;color:#FFF;}
.video-cell .video-info{display:none;position:absolute;bottom:0px;left:0px;width:100%;height:50px;padding:8px;background:-webkit-linear-gradient(top,rgba(0,0,0,0),rgba(0,0,0,.6));}
.video-cell:hover .video-info{display:block;}
.video-cell p.video-info-title{padding:0px;font-weight:bold;font-size:14px;}
.video-cell p.video-info-artist{padding:0px;font-size:12px;}

.index-photos .list-cont{height:714px;}
.index-photos .list-cont .photo-cell{display:block;position:absolute;width:auto;}
.index-photos .cascade_1{top:0px;left:0px;}
.index-photos .cascade_2{top:242px;left:0px;}
.index-photos .cascade_3{top:0px;left:243px;}
.index-photos .cascade_4{top:0px;left:485px;}
.index-photos .cascade_5{top:242px;left:485px;}
.index-photos .cascade_6{top:242px;left:727px;}
.index-photos .cascade_7{top:484px;left:0px;}
.index-photos .cascade_8{top:484px;left:485px;}
.index-photos .cascade_9{top:484px;left:727px;}

/* work-single */
.work-single-top{width:100%;min-height:524px;padding-top:15px;background:#000;}
.work-single-cont{position:relative;}
.work-single-info{width:100%;height:65px;border-top:1px solid #ddddde;border-bottom:1px solid #ddddde;background:#eeeeef;}

.work-single-title{float:left;max-width:418px;line-height:65px;font-size:18px;color:#1b1b1b;}
.work-single-other{float:right;margin-top:24px;}
.work-single-other li{display:inline-block;float:left;height:14px;padding:0 20px;border-right:1px solid #959595;}
.work-single-other .grade{display:block;margin-top:-11px;font-size:24px;color:#434343;}
.work-single-other .star{display:block;margin-top:-2px;}
.work-single-other .icon-link{display:block;font-size:12px;line-height:12px;}
.work-single-other .icon{display:inline-block;float:left;width:18px;height:18px;}
.work-single-other .num{float:left;padding-left:10px;font-size:13px;line-height:18px;color:#5e5b5b;}
.work-single-other .icon-like{background:url(../img/like.png) no-repeat;}
.work-single-other .icon-favorites{background:url(../img/favorites.png) no-repeat;}
.work-single-other .icon-share{background:url(../img/share_s.png) no-repeat;}
.work-single-other .icon-full{background:url(../img/Full.png) no-repeat;}

.work-single-other li{position:relative;}
.work-single-other .work-single-share{position:absolute;width:235px;height:91px;top:-117px;left:-92px;padding:20px 19px;background:url(../img/share_bg.png) no-repeat;}
.work-single-other .work-single-share .share-link{display:inline-block;float:left;width:47px;height:47px;margin:0 5px;}
.work-single-other .work-single-share .fb{background:url(../img/circle_fb.jpg) no-repeat;}
.work-single-other .work-single-share .tw{background:url(../img/circle_tw.jpg) no-repeat;}
.work-single-other .work-single-share .wb{background:url(../img/circle_wb.jpg) no-repeat;}
.work-single-other .work-single-share .gg{background:url(../img/circle_gg.jpg) no-repeat;}

.work-single-bot{width:100%;min-height:500px;margin:25px 0;font-size:14px;}
.work-single-bot .left-cont{float:left;width:664px;height:100%;padding-right:25px;border-right:1px solid #E5E5E5;}
.work-single-bot .right-cont{float:right;width:296px;height:100%;padding-left:30px;}

.work-single-desc{margin-bottom:25px;}
.work-single-desc .title{width:100%;margin-bottom:10px;color:#7D7D7D;font-size:16px;font-weight:bold;}
.work-single-desc .text{width:100%;font-size:14px;color:#626262;text-align:justify;}

.work-single-append{width:100%;color:#626262;line-height:22px;overflow:hidden;}

.comment{width:100%;margin-top:35px;}
.comment-title{width:100%;height:35px;}
.comment-title .text{font-size:16px;color:#959595;text-transform:uppercase;font-weight:bold;}
.comment-title .num{display:inline-block;padding:0px 12px;margin-left:10px;font-size:14px;background-color:#959595;border-radius:4px;color:#FFF;}
.comment-more a{display:block;float:right;color:#959595;}

.comment-cell{position:relative;width:100%;padding-top:15px;border-top:1px solid #e5e5e5;overflow:hidden;}

.comment-cell .user-img{position:absolute;top:0px;left:0px;width:55px;padding:15px 0;}
.comment-cell .reply-msg{float:left;width:100%;min-height:85px;padding:0 0 0 70px;font-size:14px;}
.comment-cell .reply-msg textarea.form-control{border-radius:0px;background-color:#eeeeee;}
.comment-cell .reply-btn{display:block;margin:0 auto;width:400px;height:34px;margin:10px 0 0 79px;background-color:#bfbfbf;border-radius:4px;line-height:34px;text-align:center;color:#fff;font-weight:bold;}

.comment-cell .button-green{float:right;margin:13px 0 19px 0;}

.comment-cell .reply-msg-left{float:left;width:175px;padding-left:16px;}
.comment-cell .reply-msg-left p{margin-bottom:4px;}
.comment-cell .reply-msg-left .name-line{color:#434343;font-weight:bold;}
.comment-cell .reply-msg-left .time-line{color:#959595;}
.comment-cell .reply-msg-left .icon-link{display:block;color:#707070;}
.comment-cell .reply-msg-left .icon-link .num{display:inline-block;float:left;padding-left:4px;line-height:22px;}
.comment-cell .reply-msg-left .icon{display:inline-block;float:left;width:18px;height:18px;}
.comment-cell .reply-msg-left .icon-like{background:url(../img/like.png) no-repeat;}

.comment-cell .reply-msg-right{color:#707070;}

.work-single-userinfo{position:relative;width:100%;min-height:100px;margin-bottom:20px;}
.work-single-userinfo .left{position:absolute;top:0px;left:0px;width:74px;overflow:hidden;}
.work-single-userinfo .left img{display:block;margin-bottom:6px;}
.work-single-userinfo .left .vip{display:block;width:100%;height:19px;background-color:#ff6600;color:#FFF;line-height:19px;text-align:center;}
.work-single-userinfo .right{width:100%;padding-left:84px;}
.work-single-userinfo .right .name{padding-bottom:8px;font-size:14px;color:#000;font-weight:bold;}
.work-single-userinfo .right .intro{font-size:12px;color:#707070;}

.work-single-userwork{width:100%;padding-bottom:13px;margin-bottom:20px;border-bottom:1px solid #e5e5e5;overflow:hidden;}
.work-single-userwork.no-border{border:none;}
.work-single-userwork .title{width:100%;padding-bottom:18px;color:#7d7d7d;overflow:hidden;}
.work-single-userwork ul{width:105%;}
.work-single-userwork li{display:inline-block;float:left;width:82px;height:82px;margin:0 10px 10px 0;}

.work-single-tags{width:100%;margin-bottom:20px;padding-bottom:23px;border-bottom:1px solid #e5e5e5;overflow:hidden;}
.work-single-tags .title{padding-bottom:12px;font-size:16px;color:#7d7d7d;font-weight:bold;overflow:hidden;}
.work-single-tags .links{color:#a0a0a0;line-height:20px;}
.work-single-tags .links a{color:#a0a0a0;}
.work-single-tags .links a:hover{color:#7d7d7d;}
.work-single-tags .links span{display:inline-block;padding:0 12px;}

/* events */
.events .page .container{overflow:hidden;}
.events .banner{height:426px;border-bottom:1px solid #e5e5e5;}
.events .banner-list li{width:630px;}
.events .banner-info{padding:15px 30px;}
.events .banner-info .banner-info-title{margin-bottom:5px;}
.events .banner-info .banner-info-other{width:100%;}
.events a.btn-back{left:64px;}
.events a.btn-next{right:64px;}

.events-list{width:100%;border-top:1px solid #dbdbdb;overflow:hidden;}
.events-list .list-title{width:100%;height:56px;}
.events-list .title-text{display:block;float:left;font-size:24px;color:#434343;line-height:56px;}

.events-list .list-cont{position:relative;width:105%;padding-bottom:50px;overflow:hidden;}
.events-list .list-cont img{display:block;}

.event-cell{float:left;width:470px;margin-right:20px;}
.event-cell .title{padding:12px 0;font-size:18px;color:#434343;text-transform:uppercase;}
.event-cell .desc{font-size:14px;color:#898989;line-height:20px;}

.event-single-title{width:100%;border-bottom:1px solid #e5e5e5;}
.event-single-title .text{padding:0px;margin-bottom:0px;font-size:30px;}
.event-single-title .other{padding-bottom:18px;font-size:12px;color:#959595;}

.event-single-cont{width:100%;padding:25px 0 30px 0;overflow:hidden;}
.event-single-cont .left-cont{float:left;width:664px;height:100%;padding-right:25px;border-right:1px solid #E5E5E5;}
.event-single-cont .right-cont{float:right;width:296px;height:100%;padding-left:30px;}
.event-single-cont .event-cell{width:100%;margin-bottom:40px;}

/* 登录注册 */
.login .header-nav,
.login .header-login-state{display:none;}
.login .page{width:100%;padding:32px 0 45px 0;background-color:#f4f4f4;}

.login-warp{width:100%;min-height:371px;padding:25px 110px 45px 90px;border:1px solid #dcdcdc;background-color:#fff;overflow:hidden;}
.login-warp h1{margin-bottom:18px;font-size:24px;color:#434343;}
.login-warp .login-text{padding-bottom:20px;font-size:14px;color:#898989;}

.login-warp .login-quick{float:left;width:330px;padding-right:78px;border-right:1px solid #d6d6d6;}
.login-warp .login-quick-link{display:block;width:252px;height:49px;line-height:300px;margin-bottom:9px;overflow:hidden;}
.login-warp .login-quick-link.fb{background:url(../img/account/login_fb.png) no-repeat;}
.login-warp .login-quick-link.tw{background:url(../img/account/login_tw.png) no-repeat;}
.login-warp .login-quick-link.gg{background:url(../img/account/login_gg.png) no-repeat;}
.login-warp .login-quick-link.wb{background:url(../img/account/login_wb.png) no-repeat;}

.login-warp .login-form{float:left;width:428px;padding-left:100px;}
.login-warp .login-form .title{margin-bottom:10px;font-size:20px;font-weight:bold;color:#7d7d7d;}
.login-warp .login-form .form-control{height:42px;border-radius:2px;font-size:20px;color:#959595;}
.login-warp .login-form .button-login,
.login-warp .login-form .button-signup{width:100%;text-align:center;font-size:18px;background-color:#5abe00;}

.login-warp .login-form-other p{padding-top:18px;font-size:12px;color:#7d7d7d;}
.login-warp .login-form-other p a{font-size:12px;color:#00abd0;}

/* manage */
.manage-head{width:100%;}
.manage-head-warp{position:relative;min-height:264px;}
.manage-container{position:relative;}
.manage-head-warp .choose-cover{display:block;position:absolute;width:147px;height:32px;bottom:13px;right:15px;background-color:rgba(0,0,0,.32);text-align:center;line-height:32px;font-size:14px;text-transform:uppercase;color:#FFF;}

.manage-uesrinfo{width:100%;padding-top:45px;overflow:hidden;}
.manage-userimg{float:left;width:171px;height:171px;padding:8px;background-color:rgba(255,255,255,.37);overflow:hidden;}
.manage-userintro{float:left;width:585px;margin-left:20px;color:#FFF;}
.manage-userintro .userintro-name{padding-left:8px;margin-bottom:9px;font-size:24px;}
.manage-userintro .userintro-text-box{width:100%;padding:2px 10px;background-color:rgba(0,0,0,.5);}
.manage-userintro .userintro-text-box p{margin:6px 0;line-height:20px;font-size:14px;}
.manage-userintro .userintro-btns-box{width:100%;padding-top:10px;}
.manage-userintro .userintro-btns-box .button{margin-right:15px;}

.sidenav{position:absolute;top:0px;left:0px;width:223px;padding-left:15px;z-index:22;}
.sidenav-upload{width:100%;padding:20px 0;border-bottom:1px solid #cfcfcf;}
.sidenav-upload .button-upload{width:100%;font-size:18px;font-weight:bold;text-align:center;}

.sidenav ul{width:100%;padding:22px 0;}
.sidenav li{width:100%;height:47px;margin-bottom:8px;line-height:47px;}
.sidenav li a{display:block;width:100%;height:100%;padding-left:25px;border-radius:4px;font-size:18px;font-weight:bold;color:#535353;}
.sidenav li a:hover{background-color:#e3e7eb;}
.sidenav li a.active,
.sidenav li a.active:hover{background-color:#2a3b55;color:#FFF;}

.manage-pagecont{position:relative;width:100%;height:auto;padding-left:223px;z-index:21;}
.manage-pagecont .bg{position:absolute;width:500%;height:100%;margin-left:-500%;background-color:#f4f4f4;}

.manage-pagecont-warp{min-height:523px;padding:25px 0 25px 20px;overflow:hidden;}
.manage-pagecont-warp fieldset{border:none;border-top:1px dotted #c4c4c4;}
.manage-pagecont-warp legend{padding-right:10px;background-color:#FFF;font-size:18px;color:#666666;font-weight:bold;}

.my-profile{margin-bottom:35px;}
.my-profile .control-label{padding-top:11px;font-size:16px;color:#707070;}
.my-profile .user-face{float:left;margin-right:22px;}
.my-profile .form-control{height:41px;}
.my-profile textarea.form-control{height:auto;}
.my-profile .form-group{padding:15px 0;margin:0px;border-bottom:1px solid #c4c4c4;}
.my-profile .form-group label{font-size:14px;color:#707070;}
.my-profile .form-group label.label-radio{padding-right:15px;cursor:pointer;}
.my-profile .form-group .single-line{width:100%;margin-bottom:15px;overflow:hidden;}
.my-profile .form-group .input-margin-bottom{margin-bottom:4px;}
.my-profile .form-group .add-btn{display:block;position:absolute;right:-45px;bottom:4px;width:41px;height:41px;background:url(../img/add.png) no-repeat;line-height:300px;overflow:hidden;}

.my-profile .profile-avatar{padding:52px 0 42px 0;margin:0px;}
.my-profile .profile-avatar .button{float:left;width:208px;height:37px;padding:0px;margin-bottom:15px;font-size:14px;text-align:center;line-height:37px;}
.my-profile .profile-avatar p{float:left;font-size:12px;}


.experience-warp{width:100%;padding:62px 0 62px 76px;overflow:hidden;}

.experience p{padding:12px 0 18px 0;font-size:14px;color:#707070;}
.experience .account-btn{display:block;width:132px;height:33px;line-height:300px;overflow:hidden;}
.experience .account-btn.fb{background:url(../img/manage/fb_btn.png) no-repeat;}
.experience .account-btn.gg{background:url(../img/manage/gg_btn.png) no-repeat;}
.experience .account-btn.tw{background:url(../img/manage/tw_btn.png) no-repeat;}
.experience .account-btn.wb{background:url(../img/manage/wb_btn.png) no-repeat;}

.manage_my_profile .profile,
.manage_my_profile .profile:hover,
.manage_my_work .work,
.manage_my_work .work:hover,
.manage_my_favourites .favourites,
.manage_my_favourites .favourites:hover,
.manage_my_password .password,
.manage_my_password .password:hover{background-color:#2a3b55;color:#FFF;}

.manage-edit{display:none;position:absolute;left:0px;bottom:60px !important;width:100%;height:50px;padding:8px 15px !important;background:-webkit-linear-gradient(top,rgba(0,0,0,0),rgba(0,0,0,.6));}
.manage-edit .btn{display:block;width:44px;height:26px;border:2px solid rgba(255,255,255,.6);border-radius:4px;font-size:12px;line-height:24px;text-align:center;color:#FFF;}
.manage-edit .btn.edit{float:left;background-color:rgba(48,169,104,.5);}
.manage-edit .btn.del{float:right;background-color:rgba(147,27,26,.5);}

.work-manage-info{position:relative;width:100%;height:60px;padding-right:50px;padding-top:10px;overflow:hidden;}
.work-manage-info p{line-height:24px; color:#707070;}
.work-manage-info .lock-btn{display:block;position:absolute;right:5px;bottom:5px;width:34px;height:34px;background:url(../img/manage/lock.png) no-repeat -34px 0;;}
.work-manage-info .lock-btn.locked{background-position:0 0}

.manage-photo-list,
.manage-video-list{display:none;overflow:hidden;}

.manage_my_work.video .manage-video-list,
.manage_my_work.photo .manage-photo-list,
.manage_my_favourites.video .manage-video-list,
.manage_my_favourites.photo .manage-photo-list,
.show-favourites-videos .manage-video-list,
.show-favourites-photos .manage-photo-list,
.manage-show-favourites-videos .manage-video-list,
.manage-show-favourites-photos .manage-photo-list{display:block;}

.manage_my_work.video .tab-item.videos,
.manage_my_work.photo .tab-item.photos,
.manage_my_favourites.video .tab-item.videos,
.manage_my_favourites.photo .tab-item.photos,
.show-favourites-videos .tab-item.videos,
.show-favourites-photos .tab-item.photos{font-weight:bold;}

.my-password .form-group{padding-bottom:5px;border:none;}

.show-nav{width:100%;height:115px;padding-top:68px;}
.show-nav li{display:inline-block;float:left;margin-right:15px;}
.show-nav a{display:block;padding:5px 15px;color:#cccccc;border-radius:4px;font-weight:bold;}
.show-nav span{display:inline-block;margin-left:6px;font-size:14px;}

.manage_show_photos .active-photos,
.manage_show_videos .active-videos,
.other-show-photos .active-photos,
.other-show-videos .active-videos,
.show-favourites-photos .active-favourites,
.show-favourites-videos .active-favourites,
.manage-show-favourites-videos .active-favourites,
.manage-show-favourites-photos .active-favourites{background-color:rgba(170,170,170,.5);color:#FFF;}

.show_works_photos,
.show_works_videos{display:none;}

.manage_show_photos .show_works_photos,
.manage_show_videos .show_works_videos,
.other-show-photos .show_works_photos,
.other-show-videos .show_works_videos{display:block;}

.other-show .userintro-btns-box,
.other-show .choose-cover{display:none;}

.show-favourites-photos .photo-cell:hover .manage-edit,
.show-favourites-videos .video-cell:hover .manage-edit{display:none;}

.manage-show .photo-cell:hover .manage-edit,
.manage-show .video-cell:hover .manage-edit{display:block;}

.preview-form .preview-form-title{padding-bottom:15px;}
